/*
=============== 
Quiz
===============
*/
.quiz {
  width: 90vw;
  max-width: var(--max-width);
  padding: 3rem;
  background: var(--clr-white);
}
.correct-answers-number,
.total-questions {
  color: var(--clr-green-dark);
  text-align: right;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
.total-questions {
  margin-bottom: 0;
}
.quiz-container h2 {
  margin-bottom: 2rem;
}
.anwser-container {
  position: relative;
}
.check-icon,
.cancel-icon {
  top: 50%;
  left: 22%;
  transform: translateY(-50%);
  position: absolute;
}
.cancel-icon {
  font-size: 1.3rem;
  color: var(--clr-red-light);
}
.check-icon {
  font-size: 1.5rem;
  color: var(--clr-green-light);
}
@media screen and (max-width: 576px) {
  .cancel-icon,
  .check-icon {
    left: 5%;
  }
}
.answer-btn {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.75rem auto;
  background-color: var(--clr-primary-7);
  transition: var(--transition);
  cursor: pointer;
}
.disabled-cursor {
  cursor: not-allowed !important;
}

.answer-btn:not(.disabled-cursor):hover {
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
}
@media screen and (min-width: 576px) {
  .answer-btn {
    max-width: 60%;
  }
}
.selected-answer-btn {
  background-color: var(--clr-primary-5) !important;
  color: var(--clr-white);
}
.next-btn {
  padding: 0.25rem 0.5rem;
  width: 35%;
  margin-left: auto;
  margin-top: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  background: #ffb100;
  color: var(--clr-black);
  transition: var(--transition);
  cursor: pointer;
}
.next-btn.disabled-cursor {
  color: var(--clr-grey-7);
  background-color: var(--clr-grey-9);
}
.next-btn:not(.disabled-cursor):hover {
  background: #805900;
  color: #ffb100;
}

.correct-btn {
  background: var(--clr-green-dark);
}
.wrong-btn {
  background: var(--clr-red-dark);
}
