.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h1 {
  font-size: 3rem;
}
.underline {
  width: 75px;
  height: 0.3rem;
  margin: 0 auto;
  background-color: var(--clr-red-dark);
}

.reviews-center {
  width: 85vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 4rem 0;
}

@media screen and (min-width: 576px) {
  .review-outline {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 1rem;
  }
  .reviews-center {
    width: 90vw;
  }
  .quiz-category,
  .quiz-difficulty,
  .total-questions,
  .correct-answers-number {
    flex: 0 0 calc(50% - 1rem);
  }
  .underline {
    width: 100px;
  }
}
.review-container {
  display: grid;
  gap: 3rem;
  /* text-align: center; */
}
.review-container h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .quiz-category,
  .quiz-difficulty,
  .total-questions,
  .correct-answers-number {
    flex: 0 0 calc(25% - 1rem);
  }
  .title h1 {
    font-size: 4rem;
  }
  .review-container h2 {
    font-size: 2rem;
  }
  .review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    /* text-align: center; */
  }
}

.quiz-category,
.quiz-difficulty,
.total-questions,
.correct-answers-number {
  font-size: 1.2rem;
  color: var(--clr-green-dark);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0;
}
.quiz-category,
.quiz-difficulty,
.total-question {
  margin-bottom: 0;
}
.replay-btn {
  font-size: 1.5rem;
  margin: 2rem auto 0;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background: var(--clr-primary-5);
  cursor: pointer;
}
