nav {
  background: var(--darkGrey);
  box-shadow: var(--lightShadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  width: 120px;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-green-dark);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.nav-links-container {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.nav-links {
  list-style: none;
  text-align: center;
}
.nav-link {
  color: var(--primaryColor);
  font-size: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--mainTransition);
}
.nav-link:hover {
  color: white;
  background-color: var(--primaryColor);
}
.social-icons-container {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icon {
  flex: 0 0 calc(5rem - 1rem);
  font-size: 1.5rem;
  text-align: center;
}
.social-icon a {
  color: black;
  transition: var(--mainTransition);
}
.social-icon a:hover {
  color: var(--primaryColor);
}

@media screen and (min-width: 768px) {
  .logo {
    width: 100%;
  }
  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: flex;
    justify-content: space-around;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-icons {
    width: 8rem;
  }
  .social-icon {
    flex: 0 0 3rem;
  }
  .nav-links-container,
  .social-icons-container {
    display: flex;
    align-self: center;
    height: auto !important;
  }
}
